
html{
  min-height:100%;
}

#line {
  background-color:#E9D8A6;
}

body{
  background-color: #64dfdf;

  /*font-family: 'futura' , monospace;*/
  margin-left: 30px;
/*  font-style: monospace;*/
}


#top h1{
  color:#0A9396;
  font-weight: bolder;
}

/*alt header color (brighter blue) #51C2C2*/

#top p{
  color:black;
}

.column{
  float: left;
  width: 30%;
  padding: 5px;

}
.row::after{
  content:"";
  clear: both;
  display: table;
}

img{
  width:30vw;
  border: 5px solid #555;
  border-color: #AE2012;
}

h2{
  color:#0A9396;
}

/*h2 span{
  background-color:#edeff0;
}*/

h3{
  color:#0A9396;
}

/*h3 span{
  background-color:#edeff0;
}*/

ul{
  color:white;
}

/*a:hover MUST come after a:link and a:visited
a:active MUST come after a:hover
*/

a: link{
  color: #AE2012;
}

a:visited{
  color: #BB3E03;
}

a:hover{
  color: #CA6702;
}

a:active{
  color: #51C2C2;
}

button {
  background-color: #AE2012;
  padding: 10px 20px;
  font-family:'Roboto Mono', monospace;
  border:none;
  font-size: 3vh;
  border-radius: 80px;
}

button:hover{
  background-color: #BB3E03;
}

button:active{
  background-color: #CA6702;
  font-size: 3.2vh;
}
