body{
  background-color: #CBF3F0;
  font-family: "futura-pt-1","futura-pt-2",sans-serif;


}

h1{
  text-align: center;
  color: #FF8587;
  font-size: 50px;
}

button{
  border: 2px solid #FF8587;
  font-family: "francois One";
  display: flex;
  margin: 5vh 5vw 0 5vw;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 3px;
  background-color: #ffffff;
}

button:hover{
  background-color: #DDDDDD;
}

button:active{
  background-color: #D0D0D0;
}

.menu{
  width: 320px;
  padding: 100px;
  border: 2px solid #FF8587;
  position: relative;
  left:250px;
  top:-590px;
  border-radius:3px;
  background-color: #ffffff;
  height: 100px;
}

#tues, #wed, #thurs, #fri, #sat, #sun{
  display: none;
}

h2{
  margin-top: 35px;
  padding-bottom:0;
  font-size: 1.8em;
}

.active{
  background-color: pink;
}
