/*h1, h2{
  font-family: "Bebas Neue";
}*/

#ACLskyline h1{
  color: #FF5656;
  z-index: 1;
  position: relative;
  top: 20vh;
  margin: 0 0 0 7vw;
  font-size: 8vh;

}

body{
  background-color: #E9D8A6;
  font-family: 'Roboto Mono', monospace;
/*  font-style: monospace;*/
}

h2 {
  color: #AE2012;
}

#ACLskyline{
  margin:0;
  padding:0;
  width:100vw;
  height: 60vh;
  overflow:hidden;
}

body{
  padding:0;
  margin: 0;
}


#ACLskyline img{

  width:130vw;
  position: relative;
  bottom: 400px;
  right: 200px;

}
/*
.img1{
    position: relative;
  bottom:200px;*/
