#tabs{
  display: flex;
  margin: 20vh 10vw 0 10vw;
}

#items{
  display: flex;
  margin: 0vw 10vh 0 10vw;
}

.meal{
  flex-grow: 1;
  background-color: aquamarine;
  height: 100px;
  width:auto;
  border: 1px solid black;
}

#image, .menu{
  flex-grow:1;
  width: auto;
  height: 100px;
  background-color: pink;
  border: 1px solid black;
}

h2{
  margin-top: 28px;
  padding-bottom:0;
  font-size: 1.8em;
}
